@import url('https://fonts.googleapis.com/css?family=Teko:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Hind:500,700');

body {
  background: #f5f6fa;
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.App {
  text-align: center;
}

.search-box {
  margin: auto;
  margin-top: 15px;
  width: 300px;
  background: #273c75;
  height: 30px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #f5f6fa;
  font-size: 16px;
  line-height: 40px;
  width: 240px;
  margin-left: 10px;
}

.search-btn {
  color: #fbc531;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-box {
  margin: auto;
  margin-top: 60px;
  width: 50%;
  height: 350px;
  display: flex;  
}

.picture-box {
  width: 50%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Hind', sans-serif;
}
.picture-box img {
  width: 60%;
  border: 0px solid white;
  border-radius: 15px;
}

.picture-settings {
  font-weight: 500;
  font-size: 16px;
  display: flex;
}

.picture-edit {
  padding: 0 10px;
  border-radius: 6px;
  color: #f5f6fa;
  display: flex;
  align-items: center;
  background: #273c75;
}

.picture-edit-text {
  padding-top: 4px;
  padding-left: 6px;
  text-decoration: none;
}

.picture-edit-icon {
  height: 20px;
}

.picture-delete {
  padding: 0 10px;
  border-radius: 6px;
  color: #f5f6fa;
  display: flex;
  align-items: center;
  background: #718093;
}

.picture-delete-text {
  padding-top: 4px;
  padding-left: 6px;
  text-decoration: none;
}

.picture-delete-icon {
  height: 20px;
}

.features {
  width: 50%;
}

.features-upper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.features-lower {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.features-box {
  height: 90%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 1px solid #444;
}

.features-box:last-child {
  border-right: none;
}

 .features-box-line {
  height: 4px;
  width: 45px;
  background: #273c75;
  margin: 0 auto;
  border: 0.01px solid ghostwhite;
  border-radius: 20px; 
} 

.features-lower .features-box-line {
  background: #e1b12c;
}

.features-lower > .features-box {
  width: 50%;
}

